<phpunit
    backupGlobals="true"
    backupStaticAttributes="false"
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    mapTestClassNameToCoveredClassName="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    syntaxCheck="false"
    strict="false"
    verbose="true"
>
    <testsuites>
      <testsuite name="FogBugz PHP API Unit testing">
        <directory>test</directory>
      </testsuite>
    </testsuites>
</phpunit>
